{% extends 'financas/master.html' %}

{% block content %}
        <div>
        	<table border='black'>
	        	<tr>
	        		<td>
	        			Cadastrar
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
			            <a href="/register/user/">Usuário</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/register/endereco/">Endereço</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/register/empresa/">Empresa</a>
	        		</td>
	        	</tr>
        		<tr>
	        		<td>
	        			<a href="/register/pessoaFisica/">Pessoa física</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/register/pessoaJuridica/">Pessoa jurídica</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/">Plano de contas</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/">Cliente</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/">Fornecedor</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/">Formas de pagamento</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<a href="/">Conta bancária</a>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			Movimentos
	        		</tr>
	        	</tr>
	        	</tr>
	        		<td>
	        			Relatórios
	        		</td>
	        	</tr>
	        	<tr>
		        	<td>
	        			Relatórios
	        		</td>
	        	</tr>
	        	<tr>
		        	<td>
	        			Ajuda
	        		</td>
	        	</tr>
	        	<tr>
		        	<td>
	        			<a href="/logout/">Sair</a>
	        		</td>
	        	</tr>
        	</table>
        </div>
{% endblock content %}